<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>
<body>
  <h5>Search Page<h5>
  <p>Entries:</p>
  <ul>
  {{#texts}}
    <li>
      <ul>
      <li>Title: {{title}}</li>
      <li>Author: {{author}}</li>
      <li>Description: {{description}}</li>
      </ul>
    </li>
  {{/texts}}
  </ul>
</body>
</html>




<!--
  <p>Entries:</p>
  <ul>
  {{#texts}}
  	<li>
  	  <ul>
  		<li>Title: {{title}}</li>
  		<li>Author: {{author}}</li>
  		<li>Description: {{description}}</li>
  	  </ul>
  	</li>
  {{/texts}}
  </ul>
*/
-->